.card {
    display: flex;
    width: 300px;
    margin: 10px 70px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

img {
    padding: 4px 0px 0px 5px;
    width: 6rem;
    height: 6rem;
}

h3{
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}